body {
    max-width: 100ch;
    font: 100%/1.5 system-ui;
    padding: 0 1em;
    margin-inline: auto;
    nav ul, nav li {
      display: contents;
    }    
    nav {
      display: flex;
      border-bottom: 1px solid oklch(80% 3% 200);
      margin-bottom: 1em;
    }
    nav a {
      flex: 1;
      text-align: center;
      text-decoration: none;
      color: inherit;
      padding: 0.5em;
    }
    :root {
      --color-accent: #007bff; 
    }
    nav a:hover {
      border-bottom: 0.4em solid var(--color-accent);
      background-color: #007bff;
    }
    
    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      gap: 1em;
    }
    article {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
    }
    h1 {
      font-size: 400%;
    }
    
    h1, h2, h3 {
      line-height: 1.1;
      text-wrap: balance;
    }
    
    
    
  }