body {
    max-width: 100ch;
    font: 100%/1.5 system-ui;
    padding: 0 1em;
    margin-inline: auto;
    nav ul, nav li {
      display: contents;
    }    
    nav {
      display: flex;
      border-bottom: 1px solid oklch(80% 3% 200);
      margin-bottom: 1em;
    }
    nav a {
      flex: 1;
      text-align: center;
      text-decoration: none;
      color: inherit;
      padding: 0.5em;
    }
    :root {
      --color-accent: #007bff; 
    }
    nav a:hover {
      border-bottom: 0.4em solid var(--color-accent);
      background-color: #007bff;
    }
    input, textarea, button {
      font: inherit;
    }
    form {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1em;
    }
    label {
      grid-column: 1;
    }
    input, textarea {
      grid-column: 2;
    }
    button {
      grid-column: 1 / -1;
    }
    
    
    
  }